.modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loading {
    text-align: center;
    font-weight: 600;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
}
